.container {
  margin: 0 5%;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 320px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 6px;
  }

  .pagination button {
    min-width: 40px;
    /* 🔥 prevents jumping */
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
  }

  .pagination button.active {
    background: #333;
    color: #fff;
  }

  .dots {
    padding: 0 5px;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: 55%;
  /* aspect-ratio: 16/9; */
  object-fit: cover;
  background: #f0f0f0;
}

.content {
  padding: 10px;
}

.content h3 {
  margin: 5px 0;
  font-size: 16px;
}

.content p {
  margin: 3px 0;
  font-size: 14px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.modalImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.closeBtn {
  float: right;
  cursor: pointer;
}